<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax" />
	</configSections>
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=srv-stage-2.goodtv.tv;uid=developer;pwd=123123;database=GTVAdvisory; Connection Lifetime=200;" />		
	</connectionStrings>
	<appSettings>
	   <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=/UpLoad/"/>
		<!-- 應用程式檔案上傳路徑 -->
		<add key="UploadPath" value="/UpLoad/" />
		<!-- 文件管理檔案上傳路徑 -->
		<add key="DocUploadPath" value="/DocUpLoad/" />
	  <add key="SmtpHost" value="smtp1.goodtv.tv" />
      <add key="SmtpFrom" value="jeff-kung@goodtv.tv" />
      <add key="SmtpAccount" value="edm@mail.goodtv.tv" />
      <add key="SmtpPassword" value="12341234" />
		
	</appSettings>
	<system.web>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
		<!--每個頁面的原始檔可以直接使用Magicajax的指令-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="MagicAjax.UI.Controls" assembly="MagicAjax" tagPrefix="ajax" />
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
		<authentication mode="Windows" />
		<!--<globalization requestEncoding="big5" responseEncoding="big5"/>-->
		<!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁， 
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	<sessionState timeout="1440"></sessionState>
	</system.web>
    <system.webServer>
	 <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
          <remove name="ChartImageHandler"/>
          <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </handlers>
        <defaultDocument>
            <files>
                <add value="Default_Stage.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
